/* Fixes for GitHub Pages... */
.container.markdown-body {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #43ed00;
  background-image: url(../assets/felt.png);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-flow: row;
  flex-direction: row;
}
